
Dear Mr/Ms. ${name}

Datalife :  Healthcare Platform

Thank you for signing up with DataLife.

Find DataLife login credentials below.

UserName : ${UserName}
Password : ${Password}

For assistance, contact +91 9449811444, +080 22359008 or email support@datalife.in

Thanks,
DataLife Team

___________________________________________________________________________________________________________________
This e-mail message is confidential, is intended only for the named recipient(s) above, and may contain information
that is privileged, healthcare information that is exempt from disclosure under applicable law.  If you have received
this message in error, or are not a named recipient(s), you are hereby notified that any dissemination, distribution
or copying of this e-mail is strictly prohibited.  If you have received this message in error, please immediately
notify the sender by return e-mail and delete this e-mail message from your computer.  Thank you.